form {
  display: flex;
  flex-direction: column;
  width: 300px;
  margin: 30px auto;
}

input {
  margin-bottom: 10px;
  padding: 6px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

button {
  background-color: #007bff;
  color: white;
  padding: 8px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:disabled {
  background-color: gray;
}
